nav {
    width: 150px;
    font-family: 'Goldman', cursive;
}

li a {
    display: block;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    font-family: 'Goldman', cursive;
}

li {
    font-family: 'Goldman', cursive;
}

h2 {
    font-family: 'Goldman', cursive;
}

a:link {
    color: blue;
    font-family: 'Goldman', cursive;
}

a:visited {
    color: #00a5a5;
    font-family: 'Goldman', cursive;
}

a:hover {
    color: blueviolet;
    font-family: 'Goldman', cursive;
}

a:active {
    color: gold;
    font-family: 'Goldman', cursive;
}

h1 {
    padding-left: 20px;
    float: top;
    width: auto;
    text-align: center;
    font-family: 'Goldman', cursive;
}

h3 {
    font-family: 'Goldman', cursive;
}

span {
    width: 1px;
    font-family: 'Goldman', cursive;
}

tr > td {
    border: cyan solid 2px;
    padding: 10px;
    text-align: center;
    font-family: 'Goldman', cursive;
    font-size: small;
}

tr > th {
    border: black solid 2px;
    padding: 10px;
    text-align: center;
    font-family: 'Goldman', cursive;
    font-size: medium;
    word-break: break-word;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: 'Goldman', cursive;
    width: 100%;
}

p {
    font-family: 'Goldman', cursive;
}

button {
    font-family: 'Goldman', cursive;
    cursor: pointer;
}


.div_responsive {
    width: 60%;
    float: left;
    padding-left: 20px;
}

.div_form {
    width: 50vw;
    float: left;
    padding-left: 20px;
    padding-top: 30px;
}

.div_nav {
    float: left;
    width: auto;
    padding-right: 10px;
    border-right: 1px solid grey;
}

.hr {
    width: 96%;
    margin-bottom: 20px;
}

.hr_small {
    width: 65%;
    margin-bottom: 20px;
    float: left;
}

.div_wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 150vh;
}

.div_inner_wrapper {
    width: 90%;
    float: left;
}

.span_form {
    padding-top: 15px;
    float: left;
    width: 100%;
    min-width: 400px;
}

.div_responsive > .div_float_right > span {
    float: left;
    min-width: 220px;
}

.div_float_right {
    float: right;
    padding-bottom: 20px;
}

.div_responsive_big {
    width: 99vw;
    float: left;
}

.div_spacer {
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 50%;
}

.th_boolean {
    width: 3%;
}

.th_number {
    width: 4%;
}

.th_string_small {
    width: 8%;
}

.th_string_big {
    width: 10%;
}

.button_big {
    width: 20%;
    height: 35px;
    color: black;
    background-color: darkgray;
    border: black solid 2px;
    font-family: 'Goldman', cursive;
    font-size: larger;
    cursor: pointer;
    margin-top: 20px;
}

