nav {
    width: 150px;
    font-family: 'Goldman', cursive;
}

li a {
    display: block;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    font-family: 'Goldman', cursive;
}

li {
    font-family: 'Goldman', cursive;
}

h2 {
    font-family: 'Goldman', cursive;
}

a:link {
    color: blue;
    font-family: 'Goldman', cursive;
}

a:visited {
    color: #00a5a5;
    font-family: 'Goldman', cursive;
}

a:hover {
    color: blueviolet;
    font-family: 'Goldman', cursive;
}

a:active {
    color: gold;
    font-family: 'Goldman', cursive;
}

h1 {
    padding-left: 20px;
    float: top;
    width: auto;
    text-align: center;
    font-family: 'Goldman', cursive;
}

h3 {
    font-family: 'Goldman', cursive;
}

span {
    width: 1px;
    font-family: 'Goldman', cursive;
}

tr > td {
    border: cyan dotted 3px;
    padding: 20px;
    text-align: center;
    font-family: 'Goldman', cursive;
}

tr > th {
    border: black dotted 3px;
    padding: 20px;
    text-align: center;
    font-family: 'Goldman', cursive;
}

table {
    padding: 10px;
    border-spacing: 20px;
    font-family: 'Goldman', cursive;
}

p {
    font-family: 'Goldman', cursive;
}

button {
    font-family: 'Goldman', cursive;
    cursor: pointer;
}

legend {
    font-family: 'Goldman', cursive;
}

input {
    font-family: 'Goldman', cursive;
}

input[type="text"] {
    width: 99%;
    min-width: 300px;
    font-family: 'Goldman', cursive;
}

input[type="email"] {
    width: 99%;
    min-width: 300px;
    font-family: 'Goldman', cursive;
}

input[type="url"] {
    width: 99%;
    min-width: 300px;
    font-family: 'Goldman', cursive;
}

input[type="password"] {
    width: 99%;
    min-width: 300px;
    font-family: 'Goldman', cursive;
}

input[type="tel"] {
    width: 99%;
    min-width: 300px;
    font-family: 'Goldman', cursive;
}

label {
    font-family: 'Goldman', cursive;
}

select {
    font-family: 'Goldman', cursive;
}

option {
    font-family: 'Goldman', cursive;
}

pre {
    font-family: 'Goldman', cursive;
}