.div_responsive {
    width: 60%;
    float: left;
    padding-left: 20px;
}

.div_form {
    width: 50vw;
    float: left;
    padding-left: 20px;
    padding-top: 30px;
}

.div_nav {
    float: left;
    width: auto;
    padding-right: 10px;
    border-right: 1px solid grey;
}

.hr {
    width: 96%;
    margin-bottom: 20px;
}

.hr_small {
    width: 65%;
    margin-bottom: 20px;
    float: left;
}

.div_wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 150vh;
}

.div_inner_wrapper {
    width: 90%;
    float: left;
}

.img {
    width: 128px;
    height: 128px;
    align-items: center;
}

.img_big {
    width: 480px;
    height: 272px;
    align-items: center;
}

.img_screen_res {
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
}

.div_img_container {
    display: grid;
    height: 100%;
    padding-bottom: 20px;
}

.div_icons {
    padding-top: 20px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.div_icons > div {
    width: 128px;
    height: 200px;
    float: left;
    text-align: center;
}

.div_icons > div > a {
    text-decoration: none;
}

.div_pictures {
    padding-top: 20px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 150%;
}

.div_pictures > div {
    width: 480px;
    height: 272px;
    float: left;
    text-align: center;
    padding: 5px;
}

.div_pictures > div > a {
    text-decoration: none;
}

.span_form {
    padding-top: 15px;
    float: left;
    width: 100%;
    min-width: 400px;
}

.div_responsive > .div_float_right > span {
    float: left;
    min-width: 220px;
}

.div_float_right {
    float: right;
    padding-bottom: 20px;
}

.div_responsive_big {
    width: 70%;
    float: left;
    padding-left: 20px;
}

.div_spacer {
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 50%;
}

.p_float_right {
    float: right;
}

.p_center {
    text-align: center;
}

.button_big {
    width: 100%;
    height: 35px;
    color: black;
    background-color: darkgray;
    border: black solid 2px;
    font-family: 'Goldman', cursive;
    font-size: larger;
    cursor: pointer;
    margin-top: 20px;
}

.textarea_form {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 99%;
    min-height: 25vh;
    margin: auto;
    white-space: pre-wrap;
    font-family: 'Goldman', cursive;
}

.input_hidden {
    visibility: hidden;
}